In [168]:
import mysql.connector
import pandas as pd
import re
import random
#to clear screen
#import os
#to cell in notebook
from IPython.display import clear_output

Tables: acc_info (acc_no, user_name, address, aadhar_no, mobile_no, acc_pwd, acc_balance)

In [195]:
#DB Connection:
#Connection to lead data:
def sql_connect_load(sql_query, values=None):
    try:
        connection = mysql.connector.connect(host="localhost", user="root", password="Nine@123", database="Bank_Sch")

        cursor = connection.cursor()

        if values is not None:
            cursor.execute(sql_query, values)
        else:
            cursor.execute(sql_query)

        connection.commit()
        print("Query executed successfully!")

    except mysql.connector.Error as error:
        print("Error while executing SQL query:", error)

    finally:
        if 'connection' in locals() and connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

#Connection to fetch data:
def fetch_data(sql_query, values=None):
    try:
        connection = mysql.connector.connect(host="localhost", user="root", password="Nine@123", database="Bank_Sch")

        cursor = connection.cursor()

        if values is not None:
            cursor.execute(sql_query, values)
        else:
            cursor.execute(sql_query)

        #For fetching the data
        data = cursor.fetchone()
        return data

    except mysql.connector.Error as error:
        print("Error while executing SQL query:", error)

    finally:
        if 'connection' in locals() and connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

In [196]:
# User Inputs:
def register_user():
    # Get valid input from user
    while True:
        user_name = input("Enter username (alphabets only): ")
        if validate_username(user_name):
            break
        else:
            print("Invalid username. Please enter alphabets only.")

    while True:
        address = input("Enter address (alphanumeric with special characters): ")
        if validate_address(address):
            break
        else:
            print("Invalid address. Please enter alphanumeric characters with special characters.")

    while True:
        aadhar = input("Enter Aadhar number (12 digits with automatic gaps insertion after every 4 digits): ")
        aadhar_with_gaps = validate_aadhar(aadhar)
        if aadhar_with_gaps:
            print("Aadhar number with automatic gaps insertion:")
            print(aadhar_with_gaps)
            break
        else:
            print("Invalid Aadhar number. Please enter 12 digits.")

    while True:
        mobile_no = input("Enter mobile number (10 digits): ")
        if validate_mobile(mobile_no):
            break
        else:
            print("Invalid mobile number.")

    while True:
        acc_pwd = input("Enter password (minimum 8 characters, alphanumeric with special characters): ")
        if validate_password(acc_pwd):
            break
        else:
            print("Invalid password. Password should be at least 8 characters long and contain alphanumeric characters with special charcters.")

    # Display User details after registration
    #clean the window before displaying the details:
    #for o/p screen
    # os.system('clear')
    # fro notebook (not working, skipping to the input section)
    # clear_output(wait=True)

    print("Registration successful!")
    acc_no= generate_account_number()
    print("Your Account Number: ",acc_no)
    print("Your User Name: ",user_name)
    print("Your Address: ",address)
    print("Your Aadhar Number: ",aadhar)
    print("Your Mobile Number: ",mobile_no)
    print("Your Account Password: ",acc_pwd)
    # print("Your Balance: ",user_name)        

    details_into_db(acc_no, user_name, address, aadhar, mobile_no, acc_pwd)

In [197]:
#Account number generation:
def generate_account_number():
    return ''.join(random.choices('0123456789', k=random.randint(11, 14)))

#Card number generation:
def generate_card(self, card_type):
        card_number = ''.join(random.choices('0123456789', k=16))
        pin = ''.join(random.choices('0123456789', k=4))
        cvv = ''.join(random.choices('0123456789', k=3))
        return {"type": card_type, "number": card_number, "pin": pin, "cvv": cvv}

In [198]:
#Registed User validation:

# Input validation functions
def validate_username(user_name):
    return bool(re.match(r'^[a-zA-Z\s]+$', user_name))

def validate_address(address):
    return bool(re.match(r'^[a-zA-Z0-9\s,-]+$', address))

def validate_aadhar(aadhar):
    aadhar = ''.join(filter(str.isdigit, aadhar))  
    if len(aadhar) == 12:
        aadhar_with_gaps = ' '.join(aadhar[i:i+4] for i in range(0, len(aadhar), 4))
        return aadhar_with_gaps
    else:
        return None

def validate_mobile(mobile):
    return bool(re.match(r'^[7-9][0-9]{9}$', mobile))

def validate_password(acc_pwd):
    return bool(re.match(r'^[a-zA-Z0-9!@#$%^&*()-_+=]{8,}$', acc_pwd))

# Store user data in MySQL
# store_in_mysql(user, password)
# details_into_db(user_name, address, aadhar, mobile_no, password, account_number)

In [199]:
def details_into_db(acc_no, user_name, address, aadhar, mobile_no, acc_pwd):
    sql_query = "INSERT INTO acc_info (acc_no, user_name, address, aadhar_no, mobile_no, acc_pwd, acc_balance) VALUES (%s, %s, %s, %s, %s, %s, %s)"
    values = (acc_no, user_name, address, int(aadhar), int(mobile_no), acc_pwd, 0.0)
    sql_connect_load(sql_query, values)

In [200]:
#User login:
def login_user():
    user_name = input("Enter username: ")
    password = input("Enter password: ")

    sql_query = "SELECT * FROM acc_info WHERE user_name = %s AND acc_pwd = %s"
    values = (user_name, password)

    user = fetch_data(sql_query, values)

    if user:
        print("Welcome,", user[1])
        # Assuming there's a function called show_options to display options
        # show_options(user)
    else:
        print("Invalid username or password.")

Main Function:

In [201]:
def main():
    while True:
        print("Welcome to ACN NetBanking:")
        
        print("1. Register")
        print("2. Login")
        print("3. Exit")
        choice = input("Choose an option from above to proceed: ")
        

        if choice == '1' or choice.lower() == 'register':
            register_user()
        elif choice == '2' or choice.lower() == 'login':
            login_user()
        elif choice == '3' or choice.lower() == 'exit':
            print("Exiting...")
            break
        else:
            print("Invalid choice. Please try again.")
if __name__ == "__main__":
    main()

Welcome to ACN NetBanking:
1. Register
2. Login
3. Exit

Choose an option from above to proceed:  2
Enter username:  Naimish
Enter password:  test@1234

Error while executing SQL query: Unread result found

InternalError: Unread result found

In [ ]:
Validation to run:
on check for duplicate aadhar after entering Aadhar